.card-default {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 15px;
  width: 85%;
  min-height: 25vh;
  margin: .5rem 0;
  padding: 0rem;
  gap: 2rem;

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    min-height: inherit;
    text-align: center;
    padding: 1rem;
  }

  &__index {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background-color: rgba(#fff, .5);
    border-radius: 50px;
  }

  &__icon {
    width: 40%;
    height: auto;
  }

  &--reverse {
    flex-direction: row-reverse;
  }

  &--corporate {

  }
}

.card {
  &--blue {
    background-color: rgba($pale-blue, .6);
  }
  &--pink {
    background-color: rgba($pale-pink, 1);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
  }
  &--white {
    background-color: rgba(#fff, .6);
  }
  &--green {
    background-color: $pale-green;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
  }
  &--yellow {
    background-color: $bright-yellow;
    box-shadow: inset 0 0 10px rgba(0,0,0,.2);
  }
  &--fucsia {
    background-color: $color-brand;
  }
  &--mint {
    background-color: $soft-mint;
    box-shadow: inset 0 0 10px rgba(0,0,0,.2);
  }
  &--orange {
    background-color: $soft-red;
    box-shadow: inset 0 0 10px rgba(0,0,0,.2);
  }
  &--shadow {
    border-top: dashed 1px rgba(0,0,0,.5);
  }
}

@media screen and (width >= 768px) {
  .card-default {
    align-items: center;

    &__index {
      min-width: 5rem;
      height: 5rem;
      font-size: 2rem;
    }

    &__box {
      width: 33%;
      min-height: inherit;
      padding: 1rem
    }

     &--corporate {
      width: 50%;

    }
  }
  
}